<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="io-unlocker" />
  <package id="keyfinder" />
  <package id="mpv" />
  <package id="mpv.install" />
  <package id="msiafterburner" />
  <package id="nettime" />
  <package id="regjump" />
  <package id="spacesniffer" />
  <package id="winaero-tweaker" />
  <package id="wincdemu" />
</packages>